<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrolink - Inde</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Honk:SHLN@31.6&family=Permanent+Marker&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    

    

<div class="contenedor">
    <div class="barranav">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background:#1a512e;" data-bs-theme="light w-100">
            <div class="container-fluid">
                <a class="navbar-brand me-5" font="Chewy" href="#">Agrolink</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Servicios</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Veterinario</a></li>
                                <li><a class="dropdown-item" href="#">Asesorias agricolas</a></li>
                                <li><a class="dropdown-item" href="#">Maquinarias</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/servicios.html">Ver todos los servicios publicados</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Categorías
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Frutas</a></li>
                                <li><a class="dropdown-item" href="#">Verduras</a></li>
                                <li><a class="dropdown-item" href="#">Hortalizas</a></li>
                                <li><a class="dropdown-item" href="#">Cereales</a></li>
                                <li><a class="dropdown-item" href="#">Tuberculos y raices </a></li>
                                <li><a class="dropdown-item" href="#">Café y especias</a></li>
                                <li><a class="dropdown-item" href="#">Frutos secos</a></li>
                                <li><a class="dropdown-item" href="#">Flores y plantas ornamentales</a></li>
                                <li><a class="dropdown-item" href="#">Lácteos y derivados</a></li>
                                <li><a class="dropdown-item" href="#">Animales</a></li>

                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"> Ver todos los productos</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex me-5">
                        <input class="form-control me-2" type="search" placeholder="Buscar...">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item me-5">
                                <a class="nav-link" href="login.html"><i class="bi bi-person"></i> Cuenta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
        
    
    <!-------------------------------carrusel------------------------->


    <div class="carrusel" style="height: 20rem;">
        <div id="carouselExampleInterval" class="carousel slide h-100" data-bs-ride="carousel">
            <div class="carousel-inner h-100">
                <div class="carousel-item active h-100" data-bs-interval="10000">
                    <img src="/img/imagen1.jpg" class="d-block w-100 h-100" alt="imagen1">
                </div>
            <div class="carousel-item h-100" data-bs-interval="2000">
                <img src="img/imagen2.jpg" class="d-block w-100 h-100" alt="imagen2">
            </div>
            <div class="carousel-item h-100">
                <img src="img/imagen3.jpg" class="d-block w-100 h-100" alt="imagen3">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    
    <div class="letrero">
        <h2>Productos disponibles</h2>
    </div>

    
    <!-------------------------------------Productos---------------------------->

    <div class="producto1 mt-5" style="height: 550px; border-radius: 8%;">

        <div class="card" style="width: 14rem; height: 500px;">
            <img src="img/queso.jpg" class="card-img-top"  alt="imagen queso" style="width: auto; height: 200px;object-fit: cover;">
            <div class="card-body" style="height: 130px;">
                <h5 class="card-title">Queso fresco producido en Huila</h5>
                <p class="card-text">Queso organico de primera calidad </p>
            </div>
            <ul class="list-group list-group-flush;">
                <li class="list-group-item">Precio : 3500</li>
                <li class="list-group-item">Presentacion : LB</li>
                <li class="list-group-item">Neiva - Huila </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver Producto</a>
            </div>
        </div>
    </div>
        
    
    <div class="producto2 mt-5" style="min-height: 550px; border-radius: 8%;">

        <div class="card" style="width: 14rem; height: 500px;">
            <img src="img/platano.png" class="card-img-top" alt="platano harton" style="width: auto; height: 200px;object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Plátano hartón Del Valle </h5>
                <p class="card-text">Plátano harton de primera calidad organico</p>
            </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Precio:70.000</li>
                <li class="list-group-item">Presentacion Lb,Kg,Bultos</li>
                <li class="list-group-item">Cali Valle Del Cauca</li>
            </ul>
           <div class="card-body">
                <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver producto</a>
            </div>
        </div>


    </div>



    <div class="producto3 mt-5" style="min-height: 500px; border-radius: 8%;">
        <div class="card" style="width: 13rem; height: 10rem;">
            <img src="img/frijoles.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                 <h5 class="card-title">Frijol rojo pequeño </h5>
                 <p class="card-text">Frijol rojo pequeño del valle </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Precio: 4.000</li>
                <li class="list-group-item">Presentacion : lb,kg,bultos</li>
                <li class="list-group-item">Cali Valle Del Cauca</li>
            </ul>
           <div class="card-body">
                <a href="AGRO.HTML" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver producto</a>
            </div>
        </div>
    </div>


    
    <div class="producto4 mt-5" style="min-height: 500px; border-radius: 8%;">
        <div class="card" style="width: 13rem; height: 10rem;">
                <img src="img/tomate.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tomate chonto</h5>
                <p class="card-text">Tomate chonto certificado BPA</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Precio: 1800</li>
                <li class="list-group-item">Presentacion: lb,kg,Canasta</li>
                <li class="list-group-item">Medellín Antioquia </li>
            </ul>
             <div class="card-body">
                <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver producto</a>
            </div>
        </div> 
    </div>


    <div class="producto5 mt-5" style="min-height: 500px; border-radius: 8%;">

        <div class="card" style="width: 13rem; height: 10rem;">
            <img src="img/logoAgrolink.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
             <div class="card-body">
                <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver producto</a>
            </div>
        </div>

    </div>
        <div class="producto6 mt-5" style="min-height: 500px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
            <img src="img/logoAgrolink.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver producto</a>
            </div>
    </div>
    

    </div>
        <div class="producto7 mt-5"style="min-height: 500px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
            <img src="img/logoAgrolink.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        </div>
    <div class="producto8 mt-5"style="min-height: 500px; border-radius: 8%;">
        <div class="card" style="width: 13rem; height: 10rem;">
            <img src="img/logoAgrolink.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
             <div class="card-body">
                <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver producto</a>
            </div>
        </div>
    </div>
        <div class="producto9 mt-5"style="min-height: 500px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
            <img src="img/logoAgrolink.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
        </div>
        <div class="producto10 mt-5"style="min-height: 500px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
            <img src="img/logoAgrolink.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Ver producto</a>
            </div>
        </div>
        </div>
        <div class="producto11 mt-5 "style="min-height: 500px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
            <img src="img/logoAgrolink.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
           <div class="card-body">
                <a href="#" class="card-link">Ver producto</a>
            </div>
        </div>
        </div>
        <div class="producto12 mt-5"style="min-height: 500px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
            <img src="img/logoAgrolink.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
             <div class="card-body">
                <a href="#" class="card-link">Ver producto</a>
            </div>
        </div>
        </div>
    
    <!-------------------------------------Producto destacado-------------------------->

    
    <div class="destacado">
        <div class="letrero">
           <h2> Producto destacado </h2>
        </div>
          <div class="producto1_dest mt-5" style="height: 550px; border-radius: 8%; margin: 0 auto;">

        <div class="card " style="width: 14rem; height: 500px;">
            <img src="img/queso.jpg" class="card-img-top"  alt="imagen queso" style="width: auto; height: 200px;object-fit: cover;">
            <div class="card-body" style="height: 130px;">
                <h5 class="card-title">Queso fresco producido en Huila</h5>
                <p class="card-text">Queso organico de primera calidad </p>
            </div>
            <ul class="list-group list-group-flush;">
                <li class="list-group-item">Precio: 3500</li>
                <li class="list-group-item">Presentacion : LB</li>
                <li class="list-group-item">Neiva - Huila </li>
            </ul>
             <div class="card-body">
                <a href="#" class="card-link">Ver producto</a>
            </div>
        </div>
    </div>
    </div>
    
      
    
        

</div>
    <footer class="footer">
        <p>© 2025 Agrolink. Todos los derechos reservados.</p>
</footer>
 
    
    

    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</html>