<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion De Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/AGRO.CSS">

</head>

<body>

    <div class="info_producto_detallado">
            <div class="barranav">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background:#1a512e;" data-bs-theme="light w-100">
            <div class="container-fluid">
                <a class="navbar-brand me-5" font="Chewy" href="index.html">Agrolink</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Servicios</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Veterinario</a></li>
                                <li><a class="dropdown-item" href="#">Asesorias Agricolas</a></li>
                                <li><a class="dropdown-item" href="#">Maquinarias</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/servicios.html">Ver Todos Los Servicios Publicados</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Categorías
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Frutas</a></li>
                                <li><a class="dropdown-item" href="#">Verduras</a></li>
                                <li><a class="dropdown-item" href="#">Hortalizas</a></li>
                                <li><a class="dropdown-item" href="#">Cereales</a></li>
                                <li><a class="dropdown-item" href="#">Tuberculos Y Raices </a></li>
                                <li><a class="dropdown-item" href="#">Cafe Y Especias</a></li>
                                <li><a class="dropdown-item" href="#">Frutos Secos</a></li>
                                <li><a class="dropdown-item" href="#">Flores Y Plantas Ornamentales</a></li>
                                <li><a class="dropdown-item" href="#">Lacteos y Derivados</a></li>
                                <li><a class="dropdown-item" href="#">Animales</a></li>

                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"> Ver Todos los productos</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex me-5">
                        <input class="form-control me-2" type="search" placeholder="Buscar...">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item me-5">
                                <a class="nav-link" href="login.html"><i class="bi bi-person"></i> Cuenta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

        <!----------------------------Presentacion del producto--------------------->

        <div class="img_producto">
            <img src="/img/frijoles.jpg" alt="frijoles">
        </div>
        <div class="contenedor_info">
            <div class="div3">FRIJOL ROJO PEQUEÑO 500G</div>
            <div class="vendido_por">Vendido Por: Pedro Gomez</div>

            <div class="div4">$6.220 <br> Gramo a $12.58</div>
            <div class="div30">
                Este frijol es de grano parejo, color vivo y cocción rápida. Perfecto para tus sopas, guisos y arroces.
                Tiene un sabor sabroso, lleno de campo, ideal para alimentar a la familia con lo bueno de la tierra.
            </div>
            <div class="div31">Stock Disponible</div>

            <div class="div32"> 
                <div class="form-group">
                    <label for="Cantidad"></label>
                    <select name="Cantidad" id="Cantidad">
                        <option disabled selected value="">
                            VER DISPONIBLES
                        </option>
                        <option value="10">1</option>
                        <option value="20">2</option>
                        <option value="30">3</option>
                        <option value="40">4</option>
                        <option value="40">5</option>
                        <option value="40">6</option>
                        <option value="40">7</option>
                        <option value="40">8</option>
                        <option value="40">9</option>
                        <option value="40">10</option>
                        <option value="40">Más...</option>
                    </select>
                </div>
            </div>
            <div class="div33">
                <button class="Comprar_ahora">Comprar ahora</button>
            </div>
            <div class="div34">
                 <button class="Agregar_al_carrito" onclick="window.location.href='CARRITO.HTML'">Agregar al carrito</button>
            </div>
        </div>
        <div class="Products_Similar" style="text-align: center; margin-bottom: 20px;">
            <h2>¡Productos similares!</h2>
        </div>


        <div class="contenedor_productos_similares">

            <div class="cont_producto_1">
                <img src="/img/arveja.jpg" alt="Arvejas">
                <h6>Arveja fresca 300g <br>$5.200 <br>Gramo a $14.33</h6>
            </div>

            <div class="cont_producto_2">
                <img src="/img/manzana.jpg" alt="Manzana">
                <h6>Manzana roja<br>$15.950 <br>Gramo a $15.95S</h6>
            </div>

            <div class="cont_producto_3">
                <img src="/img/pera.webp" alt="Pera">
                <h6>Pera verde<br>$13.480 <br> Gramo a 13.48</h6>
            </div>

            <div class="cont_producto_4">
                <img src="/img/PAPA-PASTUSA.png" alt="Papa Pastusa">
                <h6>Papa pastusa 2.5k g <br>$12.990<br> Gramo a $5.2</h6>
            </div>

            <div class="cont_producto_5">
                <img src="/img/tomate.jpg" alt="Tomate">
                <h6>Tomate rojo grande<br>$7.980<br>Gramo a $7.98</h6>
            </div>

            <div class="cont_producto_6">
                <img src="/img/zanahoria.webp" alt="Zanahoria">
                <h6>Zanahoria <br>$4.680<br>Gramo a $4.68</h6>
            </div>

            <div class="cont_producto_7">
                <img src="/img/cebolla.jpg" alt="Cebolla">
                <h6>Cebolla cabezona blanca<br>$5.880<br>Gramo a $5.88</h6>
            </div>

            <div class="cont_producto_8">
                <img src="/img/limon.jpeg" alt="Limón">
                <h6>Limón tahití 1,5kl<br>$2.980<br>ramo a $2.98</h6>
            </div>
        </div>


    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>

</html>