<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chewy&family=Honk:SHLN@31.6&family=Permanent+Marker&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>




    <div class="contenedor">
        <div class="barranav">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background:#1a512e;" data-bs-theme="light w-100">
                <div class="container-fluid">
                    <a class="navbar-brand me-5" font="Chewy" href="index.html">Agrolink</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="index.html">Inicio</a>
                            </li>

                        </ul>
                        <form class="d-flex me-5">
                            <input class="form-control me-2" type="search" placeholder="Buscar...">
                            <button class="btn btn-outline-light" type="submit">Buscar</button>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item me-5">
                                <a class="nav-link" href="login.html"><i class="bi bi-person"></i> Cuenta</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        <!-------------------------------carrusel------------------------->


        <div class="carrusel" style="height: 20rem;">
            <div id="carouselExampleInterval" class="carousel slide h-100" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100" data-bs-interval="10000">
                        <img src="/img/imagen1.jpg" class="d-block w-100 h-100" alt="imagen1">
                    </div>
                    <div class="carousel-item h-100" data-bs-interval="2000">
                        <img src="img/imagen2.jpg" class="d-block w-100 h-100" alt="imagen2">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="img/imagen3.jpg" class="d-block w-100 h-100" alt="imagen3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="letrero">
            <h2>Agro servicios publicados</h2>
        </div>


        <!-------------------------------------Productos---------------------------->

        <div class="producto1 mt-5" style="min-height: 300px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Asesoria agricola </h5>
                    <p class="card-text">Juan Perez</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Planificación de cultivos, fertilización y mejora del rendimiento.</li>
                    <li class="list-group-item">Cali Valle Del Cauca</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Contactar Asesor</a><br>
                    <a href="PerfilAsesor.html" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver Perfil</a>
                </div>
            </div>
        </div>

        <div class="producto2 mt-5" style="min-height: 300px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Servicio de maquinaria aAgrícola </h5>
                    <p class="card-text"> Andres Camacho </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Alquiler de maquinaria para cultivo y cosecha.</li>
                    <li class="list-group-item">Villavicencio</li>
                </ul>
                <div class="card-body">
                    <a href="" class="card-link" style="text-decoration: none; color: #c6dc93;">Contactar asesor</a><br>
                    <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver perfil</a>

                </div>
            </div>
        </div>

        <div class="producto3 mt-5" style="min-height: 300px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Tipo de servicio </h5>
                    <p class="card-text">Nombre del asesor</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Descripción del servicio</li>
                    <li class="list-group-item">Ubicación</li>
                </ul>
                <div class="card-body">
                    <a href="" class="card-link" style="text-decoration: none; color: #c6dc93;">Contactar asesor</a><br>
                    <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver perfil</a>
                </div>
            </div>
        </div>

        <div class="producto4 mt-5" style="min-height: 300px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Tipo de servicio </h5>
                    <p class="card-text">Nombre del asesor</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Descripción del servicio</li>
                    <li class="list-group-item">Ubicación</li>
                </ul>
                <div class="card-body">
                    <a href="" class="card-link" style="text-decoration: none; color: #c6dc93;">Contactar asesor</a><br>
                    <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver perfil</a>
                </div>
            </div>
        </div>


        <div class="producto5 mt-5" style="min-height: 300px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Tipo de servicio </h5>
                    <p class="card-text">Nombre del asesor</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Descripción del servicio</li>
                    <li class="list-group-item">Ubicación</li>
                </ul>
                <div class="card-body">
                    <a href="" class="card-link" style="text-decoration: none; color: #c6dc93;">Contactar Asesor</a><br>
                    <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver Perfil</a>
                </div>
            </div>
        </div>


        <div class="producto6 mt-5" style="min-height: 300px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Tipo de Servicio </h5>
                    <p class="card-text">Nombre del Asesor</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Descripción del servicio</li>
                    <li class="list-group-item">Ubicacion</li>
                </ul>
                <div class="card-body">
                    <a href="" class="card-link" style="text-decoration: none; color: #c6dc93;">Contactar asesor</a><br>
                    <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver perfil</a>
                </div>
            </div>
        </div>

        <div class="producto7 mt-5" style="min-height: 300px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Tipo de servicio </h5>
                    <p class="card-text">Nombre del asesor</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Descripción del servicio</li>
                    <li class="list-group-item">Ubicación</li>
                </ul>
                <div class="card-body">
                    <a href="" class="card-link" style="text-decoration: none; color: #c6dc93;">Contactar asesor</a><br>
                    <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver perfil</a>
                </div>
            </div>
        </div>


        <div class="producto8 mt-5" style="min-height: 300px; border-radius: 8%;">
            <div class="card" style="width: 13rem; height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">Tipo de servicio </h5>
                    <p class="card-text">Nombre del asesor</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Descripción del servicio</li>
                    <li class="list-group-item">Ubicación</li>
                </ul>
                <div class="card-body">
                    <a href="" class="card-link" style="text-decoration: none; color: #c6dc93;">Contactar asesor</a><br>
                    <a href="#" class="card-link" style="text-decoration: none; color: #c6dc93;">Ver perfil</a>
                </div>
            </div>
        </div>













    </div>
    <footer class="footer">
        <p>© 2025 Agrolink. Todos los derechos reservados.</p>
    </footer>





</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>

</html>